<section class="footer">
  <div class="container-footer">
    <a class="logo" href="./index.html">mimiho</a>
    <div class="footer-mob">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="./index.html">Головна</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="./restaurant.html">Ресторан</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="./hotel.html">Готель</a>
        </li>
      </ul>
      <ul class="footer-soc">
        <li class="footer-soc-item">
          <a class="footer-soc-link" href="https://web.telegram.org/k/"><span class="hiden">Telegram</span>
            <svg class="footer-soc-icon" width="24" height="24">
              <use xlink:href="./img/sprite-icons.svg#plane"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a class="footer-soc-link" href="https://www.facebook.com/"><span class="hiden">Facebook</span>
            <svg class="footer-soc-icon" width="24" height="24">
              <use xlink:href="./img/sprite-icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a class="footer-soc-link" href="https://www.instagram.com/"><span class="hiden">Instagram</span>
            <svg class="footer-soc-icon" width="24" height="24">
              <use xlink:href="./img/sprite-icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>