<section class="header">
  <div class="container-header">
    <a href="./index.html" class="header-logo">mimiho</a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="rest-tel">
          <div class="header-item">
            <a class="header-text" href="./restaurant.html">Ресторан</a>
          </div>
          <div class="header-item-tel"><a class="header-tel" href="tel:0955559533">
              <svg class="header-icon" width="24" height="24">
                <use xlink:href="./img/sprite-icons.svg#phone"></use>
              </svg><span class="tel-text">095 555 95 33</span></a>
          </div>
        </li>
        <li class="hotel-tel">
          <div class="header-item">
            <a class="header-text" href="./hotel.html">Готель</a>
          </div>
          <div class="header-item-tel"><a class="header-tel" href="tel:0668491089">
              <svg class="header-icon" width="24" height="24">
                <use xlink:href="./img/sprite-icons.svg#phone"></use>
              </svg><span class="tel-text">066 849 10 89</span></a>
          </div>
        </li>
      </ul>
    </nav>
    <ul class="header-soc">
      <li class="header-soc-item">
        <a class="footer-soc-link" href="https://www.instagram.com/">
          <svg class="footer-soc-icon" width="24" height="24">
            <use xlink:href="./img/sprite-icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a class="footer-soc-link" href="https://www.facebook.com/">
          <svg class="footer-soc-icon" width="24" height="24">
            <use xlink:href="./img/sprite-icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a class="footer-soc-link" href="https://web.telegram.org/k/">
          <svg class="footer-soc-icon" width="24" height="24">
            <use xlink:href="./img/sprite-icons.svg#plane"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>