<section class="hero room-hero">
            <div class="container">
                <div class="room-svg">
                
                <svg class="left-svg" width="40" height="40">
                    <use href="../img/sprite-icons.svg#arrow-left"></use>
                </svg>
                
                <svg class="right-svg" width="40" height="40">
                    <use href="../img/sprite-icons.svg#arrow-right"></use>
                </svg>
                
            </div>
            <h1 class="title-room">ДВОМІСНИЙ НОМЕР люкс</h1>
            <p class="text-room">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <button class="room-btn" type="button">Переглянути ціни</button>
            </div>
    </section>