<section class="hero hotel-hero">
        <div class="container">
            <h1 class="title-hero">міміно</h1>
            <h2 class="subtitle-hero sub-hotel">Готель</h2>
            <div class="maps-address">
                <a class="map-address" href="https://www.google.com/maps/place/Marshala+Biryuzova+St,+15,+Poltava,+Poltavs'ka+oblast,+36000/@49.599194,34.5265463,17z/data=!4m6!3m5!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463!16s%2Fg%2F1tggm4y1" 
                    target="_blank" 
                    rel="nofollow noopener noreferrer">
                        <svg class="icon-picture" width="24" height="24">
                            <use href="../img/sprite-icons.svg#location"></use>
                        </svg> 
                        Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15</a>
            </div>
            <div class="buttons-hero">
                <ul class="hero-btn">
                    <li><button class="hero-button" type="button">Забронювати номер</button></li>
                    <li><button class="hero-button" type="button">Переглянути ціни</button></li>
                </ul>
            </div>
        </div>
    </section>