<section class="hp-5-contacts">
  <div class="container contacts-container">
    <h1 class="visually-hidden">Contacts</h1>
    <div class="first-wrap">
      <h2 class="contacts-header-first">Mimino</h2>
      <p class="contacts-paragraph">Ресторанно-готельний комплекс</p>

      <!--------Tel. number of the restaurant-------->

      <ul class="contacts-list">
        <li class="contacts-item">
          <ul class="contacts-wrap-list">
            <li><h3 class="contacts-header-second first-title">Ресторан</h3></li>
            <li class="contacts-inner-list">
              <a class="contacts-link first-link" href="tel:+380955559533"
                >095 555 95 33<svg class="contacts-icon">
                  <use href="./img/sprite-icons.svg#phone"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <!--------Tel. number of the hotel-------->

        <li class="contacts-item">
          <ul class="contacts-wrap-list">
            <li><h3 class="contacts-header-second second-title">Готель</h3></li>
            <li class="contacts-inner-list">
              <a class="contacts-link second-link" href="tel:+380668491089"
                >066 849 10 89<svg class="contacts-icon">
                  <use href="./img/sprite-icons.svg#phone"></use></svg></a
              ><a class="contacts-link third-link" href="tel:+380672758540"
                >067 275 85 40</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!--------Hypermarking for Google Maps--------->

      <div class="contacts-item last-item">
        <a
          class="contacts-link map-link"
          href="https://goo.gl/maps/XF562ALCX74oNGHE6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="contacts-icon map-icon">
            <use href="./img/sprite-icons.svg#location"></use>
          </svg>
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15</a
        >
      </div>
    </div>

    <!--------Photo of geoposition of the complex--------->

    <div class="contact-picture-wrap">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/contactsmapimages/contacts_map_dt.jpg    1x,
            ./img/contactsmapimages/contacts_map_dt@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/contactsmapimages/contacts_map_tab.jpg    1x,
            ./img/contactsmapimages/contacts_map_tab@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/contactsmapimages/contacts_map_mob.jpg    1x,
            ./img/contactsmapimages/contacts_map_mob@2x.jpg 2x
          "
        />
        <img
          class="contacts-image"
          src="./img/contactsmapimages/contacts_map_default.jpg"
          alt="Cкріншот карти з місцерозташуванням ресторанно-готельного комплексу"
          width="634"
          height="412"
        />
      </picture>
    </div>
  </div>
</section>
