<section class="container first-section">
  <h2 class="hide">About our restaurant</h2>
  <ul class="list">
    <li class="item">
      <h2 class="header-two">Amet minim mollit non</h2>
      <h3 class="header-tree">MIMIHO</h3>
      <p class="text grey-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="first-image"
        srcset="
          ./images/restaurant-interior1-1x.jpg 1x,
          ./images/restaurant-interior1-2x.jpg 2x,
          ./images/restaurant-interior1-3x.jpg 3x
        "
        src="images/restaurant-interior1-1x.jpg"
        width="244"
        height="322"
        alt="restaurant interior"
      />
    </li>
    <li class="item second-interior">
      <img
        class="second-image"
        srcset="
          ./images/restaurant-interior2-1x.jpg 1x,
          ./images/restaurant-interior2-2x.jpg 2x,
          ./images/restaurant-interior2-3x.jpg 3x
        "
        src="images/restaurant-interior2-1x.jpg"
        width="200"
        height="278"
        alt="restaurant interior"
      />
      <p class="text brown-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
  </ul>
  <ul class="list pictures-list">
    <li class="item">
      <img
        class="picture"
        srcset="
          ./images/wine-glasses-1x.jpg 1x,
          ./images/wine-glasses-2x.jpg 2x,
          ./images/wine-glasses-3x.jpg 3x
        "
        src="images/wine-glasses-1x.jpg"
        width="245"
        height="245"
        alt="table with glasses of wine and water"
      />
    </li>
    <li class="item">
      <img
        class="picture"
        srcset="
          ./images/table-setting-1x.jpg 1x,
          ./images/table-setting-2x.jpg 2x,
          ./images/table-setting-3x.jpg 3x
        "
        src="images/table-setting-1x.jpg"
        width="245"
        height="245"
        alt="table setting"
      />
    </li>
  </ul>
  <ul class="list arrows-list">
    <li class="item">
      <svg class="icon-arrow">
        <use href="./images/icons.svg#arrow-left"></use>
      </svg>
    </li>
    <li class="item">
      <svg class="icon-arrow">
        <use href="./images/icons.svg#arrow-right"></use>
      </svg>
    </li>
  </ul>
</section>
