<section class="sec-container first-section">
  <h2 class="hide">About our restaurant</h2>
  <ul class="list">
    <li class="item">
      <div class="about-restaurant">
        <h2 class="header-two">Amet minim mollit non</h2>
        <h3 class="header-tree">MIMIHO</h3>
        <p class="text grey-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/homepage1-3/restaurant-interior1-decstop-1x.jpg 1x,
            ./img/homepage1-3/restaurant-interior1-decstop-2x.jpg 2x,
            ./img/homepage1-3/restaurant-interior1-decstop-3x.jpg 3x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/homepage1-3/restaurant-interior1-tablet-1x.jpg 1x,
            ./img/homepage1-3/restaurant-interior1-tablet-2x.jpg 2x,
            ./img/homepage1-3/restaurant-interior1-tablet-3x.jpg 3x
          "
        />
        <source
          srcset="
            ./img/homepage1-3/restaurant-interior1-1x.jpg 1x,
            ./img/homepage1-3/restaurant-interior1-2x.jpg 2x,
            ./img/homepage1-3/restaurant-interior1-3x.jpg 3x
          "
        />
        <img
          class="first-image"
          src="./img/homepage1-3/restaurant-interior1-1x.jpg"
          alt="restaurant interior"
        />
      </picture>
    </li>
    <li class="item second-interior">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/homepage1-3/restaurant-interior2-decstop-1x.jpg 1x,
            ./img/homepage1-3/restaurant-interior2-decstop-2x.jpg 2x,
            ./img/homepage1-3/restaurant-interior2-decstop-3x.jpg 3x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/homepage1-3/restaurant-interior2-tablet-1x.jpg 1x,
            ./img/homepage1-3/restaurant-interior2-tablet-2x.jpg 2x,
            ./img/homepage1-3/restaurant-interior2-tablet-3x.jpg 3x
          "
        />
        <source
          srcset="
            ./img/homepage1-3/restaurant-interior2-1x.jpg 1x,
            ./img/homepage1-3/restaurant-interior2-2x.jpg 2x,
            ./img/homepage1-3/restaurant-interior2-3x.jpg 3x
          "
        />
        <img
          class="second-image"
          src="./img/homepage1-3/restaurant-interior2-1x.jpg"
          alt="restaurant interior"
        />
      </picture>
      <p class="text brown-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
  </ul>
  <ul class="list pictures-list">
    <li class="item">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/homepage1-3/wine-glasses-decstop-1x.jpg 1x,
            ./img/homepage1-3/wine-glasses-decstop-2x.jpg 2x,
            ./img/homepage1-3/wine-glasses-decstop-3x.jpg 3x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/homepage1-3/wine-glasses-tablet-1x.jpg 1x,
            ./img/homepage1-3/wine-glasses-tablet-2x.jpg 2x,
            ./img/homepage1-3/wine-glasses-tablet-3x.jpg 3x
          "
        />
        <source
          srcset="
            ./img/homepage1-3/wine-glasses-1x.jpg 1x,
            ./img/homepage1-3/wine-glasses-2x.jpg 2x,
            ./img/homepage1-3/wine-glasses-3x.jpg 3x
          "
        />
        <img
          class="picture"
          src="./img/homepage1-3/wine-glasses-1x.jpg"
          alt="table with glasses of wine and water"
        />
      </picture>
    </li>
    <li class="item">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/homepage1-3/table-setting-decstop-1x.jpg 1x,
            ./img/homepage1-3/table-setting-decstop-2x.jpg 2x,
            ./img/homepage1-3/table-setting-decstop-3x.jpg 3x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/homepage1-3/table-setting-tablet-1x.jpg 1x,
            ./img/homepage1-3/table-setting-tablet-2x.jpg 2x,
            ./img/homepage1-3/table-setting-tablet-3x.jpg 3x
          "
        />
        <source
          srcset="
            ./img/homepage1-3/table-setting-1x.jpg 1x,
            ./img/homepage1-3/table-setting-2x.jpg 2x,
            ./img/homepage1-3/table-setting-3x.jpg 3x
          "
        />
        <img
          class="picture"
          src="./img/homepage1-3/table-setting-1x.jpg"
          alt="table setting"
        />
      </picture>
    </li>
  </ul>
  <ul class="list arrows-list">
    <li class="item">
      <svg class="icon-arrow">
        <use href="./img/sprite-icons.svg#arrow-left"></use>
      </svg>
    </li>
    <li class="item">
      <svg class="icon-arrow">
        <use href="./img/sprite-icons.svg#arrow-right"></use>
      </svg>
    </li>
  </ul>
</section>
