<section class="rest-h2">
    <div class="container rest-container">
      <div class="textblock">
        <p class="logo-h2">MIMIHO</p>
        <h2 class="title-h2">Ресторан</h2>
        <p class="text-h2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <div class="tablet-content-wrap">
        <div class="big-slider-wrap">
          <ul class="rest-slider-wrap">
            <li class="rest-slider-image">
              <picture>
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ../img/hmpg-2-4/dish1desktop.jpg    1x,
                    ../img/hmpg-2-4/dish1desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 200px)"
                  srcset="
                    ../img/hmpg-2-4/dish1.jpg    1x,
                    ../img/hmpg-2-4/dish1@2x.jpg 2x
                  "
                />
                <img src="../img/hmpg-2-4/dish1.jpg" alt="steak" width="274" />
              </picture>
            </li>
            <li class="rest-png-image">              
          
                <img src="../img/hmpg-2-4/dish2.png" alt="breakfast"  />
             
            </li>

            <li class="small-slider-image">
              <picture>
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ../img/hmpg-2-4/dish2desktop.jpg    1x,
                    ../img/hmpg-2-4/dish2desktop@2x.jpg 2x
                  "
                />

                <img
                  src="../img/hmpg-2-4/dish2desktop.jpg"
                  alt="flatbread"
                  width="162"
                />
              </picture>
            </li>

            <li class="small-slider-image dynamic">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/hmpg-2-4/dish3desktop.jpg    1x,
                    ../img/hmpg-2-4/dish3desktop@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ../img/hmpg-2-4/dish3tablet.jpg    1x,
                    ../img/hmpg-2-4/dish3tablet@2x.jpg 2x
                  "
                />
                <img src="../img/hmpg-2-4/dish3tablet.jpg" alt="healthy bowl" />
              </picture>
            </li>
          </ul>

          <div class="slider-btn-wrap">
            <button class="swipe-left">
              <svg height="32px" width="30px">
                <use href="../img/sprite-icons.svg#arrow-left"></use>
              </svg>
            </button>

            <button class="swipe-right">
              <svg height="32px" width="30px">
                <use href="../img/sprite-icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="buttons-wrap">
          <button type="button" class="rest-button">Забронювати столик</button>

          <a href="../restaurant.html" class="rest-button">Переглянути меню</a>
        </div>
      </div>
    </div>
 
</section>
