<section class="hotel-h2">
    <div class=" container hotel-container">
      <div class="textblock-hotel">
        <p class="logo-h2">MIMIHO</p>
        <h2 class="title-h2">Готель</h2>
        <p class="text-h2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="tablet-content-wrap-hotel">
        <div class="big-slider-wrap">
          <ul class="hotel-slider-wrap">
            <li class="small-slider-image dynamic">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/hmpg-2-4/hotel3desktop.jpg    1x,
                    ../img/hmpg-2-4/hotel3desktop@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ../img/hmpg-2-4/hotel3tablet.jpg    1x,
                    ../img/hmpg-2-4/hotel3tablet@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 200px)"
                  srcset="
                    ../img/hmpg-2-4/hotel3.jpg    1x,
                    ../img/hmpg-2-4/hotel3@2x.jpg 2x
                  "
                />
                <img src="../img/hmpg-2-4/hotel3.jpg" alt="reception" />
              </picture>
            </li>

            <li class="small-slider-image">
              <picture>
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ../img/hmpg-2-4/hotel2desktop.jpg    1x,
                    ../img/hmpg-2-4/hotel2desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 200px)"
                  srcset="
                    ../img/hmpg-2-4/hotel2.jpg    1x,
                    ../img/hmpg-2-4/hotel2@2x.jpg 2x
                  "
                />
                <img
                  src="../img/hmpg-2-4/hotel2.jpg"
                  alt="breakfast"
                  width="162"
                />
              </picture>
            </li>

            <li class="hotel-png-image">              
          
              <img src="../img/hmpg-2-4/hotel2.png" alt="restaurant"  />
           
          </li>

            <li class="hotel-slider-image">
              <picture>
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ../img/hmpg-2-4/hotel1desktop.jpg    1x,
                    ../img/hmpg-2-4/hotel1desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 200px)"
                  srcset="
                    ../img/hmpg-2-4/hotel1.jpg    1x,
                    ../img/hmpg-2-4/hotel1@2x.jpg 2x
                  "
                />
                <img
                  src="../img/hmpg-2-4/hotel1.jpg"
                  alt="room photo"
                  
                />
              </picture>
            </li>
          </ul>
          <div class="slider-btn-wrap-right">
            <button class="swipe-left">
              <svg height="32px" width="32px">
                <use href="../img/sprite-icons.svg#arrow-left"></use>
              </svg>
            </button>

            <button class="swipe-right">
              <svg height="32px" width="32px">
                <use href="../img/sprite-icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="buttons-wrap">
          <button type="button" class="rest-button">Забронювати номер</button>

          <a href="../hotel.html" class="rest-button">Переглянути ціни</a>
        </div>
      </div>
    </div>
  </div>
</section>


