<section>
<div class="container-h2"></div>
<p class="logo-h2">MIMIHO</p>
<h1 class="title-h2">Ресторан</h1>
<p class="text-h2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>

<ul>
    <li> 
        <img
        srcset="../img/hmpg-2-4/dish1.jpg 1x, ../img/hmpg-2-4/dish1@2x.jpg 2x, ../img/hmpg-2-4/dish1@3x.jpg 3x"
        src="../img/hmpg-2-4/dish1.jpg"
        alt="steak"
        width="274"
      /></li>
    
      <li> 
        <img
        srcset="../img/hmpg-2-4/dish2.jpg 1x, ../img/hmpg-2-4/dish2@2x.jpg 2x, ../img/hmpg-2-4/dish2@3x.jpg 3x"
        src="../img/hmpg-2-4/dish2.jpg"
        alt="bread pie"
        width="162"
      /></li>

      <li> 
        <img
        srcset="../img/hmpg-2-4/dish3.jpg 1x, ../img/hmpg-2-4/dish2@3x.jpg 2x, ../img/hmpg-2-4/dish3@3x.jpg 3x"
        src="../img/hmpg-2-4/dish3.jpg"
        alt="healthy bowl"
        width="274"
      /></li>
</ul>

<button class="swipe-left">
    <svg heigth="32px" width="32px"> <use href="../img/sprite-icons.svg#arrow-left"></use> </svg> 
 </button>

 <button class="swipe-right">
    <svg heigth="32px" width="32px"> <use href="../img/sprite-icons.svg#arrow-right"></use> </svg> 
 </button>

 <button type="button">
    Забронювати столик 
 </button>

 <a href="../restaurant.html">Переглянути меню</a>

</section>