<section class="hotel-h2">
  <div class="container hotel-container">
    <div class="textblock-hotel">
      <p class="logo-h2">MIMIHO</p>
      <h2 class="title-h2">Готель</h2>
      <p class="text-h2">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="tablet-content-wrap-hotel">
      <div class="big-slider-wrap swiper">
        <ul class="hotel-slider-wrap swiper-wrapper">
          <li class="small-slider-image dynamic swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hmpg-2-4/hotel3desktop.jpg    1x,
                  ./img/hmpg-2-4/hotel3desktop@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/hmpg-2-4/hotel3tablet.jpg    1x,
                  ./img/hmpg-2-4/hotel3tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 200px)"
                srcset="
                  ./img/hmpg-2-4/hotel3.jpg    1x,
                  ./img/hmpg-2-4/hotel3@2x.jpg 2x
                "
              />
              <img src="./img/hmpg-2-4/hotel3.jpg" alt="reception" />
            </picture>
          </li>

          <li class="small-slider-image swiper-slide">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/hmpg-2-4/hotel2desktop.jpg    1x,
                  ./img/hmpg-2-4/hotel2desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 200px)"
                srcset="
                  ./img/hmpg-2-4/hotel2.jpg    1x,
                  ./img/hmpg-2-4/hotel2@2x.jpg 2x
                "
              />
              <img
                src="./img/hmpg-2-4/hotel2.jpg"
                alt="breakfast"
                width="162"
              />
            </picture>
          </li>

          <li class="hotel-png-image swiper-slide">
            <img src="./img/hmpg-2-4/hotel2.png" alt="restaurant" />
          </li>

          <li class="hotel-slider-image swiper-slide">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/hmpg-2-4/hotel1desktop.jpg    1x,
                  ./img/hmpg-2-4/hotel1desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 200px)"
                srcset="
                  ./img/hmpg-2-4/hotel1.jpg    1x,
                  ./img/hmpg-2-4/hotel1@2x.jpg 2x
                "
              />
              <img src="./img/hmpg-2-4/hotel1.jpg" alt="room photo" />
            </picture>
          </li>

          <!-- extra images -->
          <li class="hotel-slider-image cropped swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hmpg-2-4/hotel6.jpg    1x,
                  ./img/hmpg-2-4/hotel6@2x.jpg 2x
                "
              />

              <img
                src="./img/hmpg-2-4/hotel6.jpg"
                alt="reception"
                width="270"
              />
            </picture>
          </li>

          <li class="hotel-slider-image cropped swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hmpg-2-4/hotel7.jpg    1x,
                  ./img/hmpg-2-4/hotel7@2x.jpg 2x
                "
              />

              <img
                src="./img/hmpg-2-4/hotel7.jpg"
                alt="reception"
                width="270"
              />
            </picture>
          </li>

          <li class="hotel-slider-image cropped swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hmpg-2-4/hotel8.jpg    1x,
                  ./img/hmpg-2-4/hotel8@2x.jpg 2x
                "
              />

              <img src="./img/hmpg-2-4/hotel8.jpg" alt="spa" width="270" />
            </picture>
          </li>

          <li class="hotel-slider-image cropped swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hmpg-2-4/hotel9.jpg    1x,
                  ./img/hmpg-2-4/hotel9@2x.jpg 2x
                "
              />

              <img
                src="./img/hmpg-2-4/hotel9.jpg"
                alt="waiting room"
                width="270"
              />
            </picture>
          </li>
        </ul>
        <div class="slider-btn-wrap-right">
          <button class="swipe-left swiper-button-prev">
            <svg height="32px" width="32px">
              <use href="./img/sprite-icons.svg#arrow-left"></use>
            </svg>
          </button>

          <button class="swipe-right swiper-button-next">
            <svg height="32px" width="32px">
              <use href="./img/sprite-icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="buttons-wrap">
        <button type="button" class="rest-button" data-modroom1-open>
          Забронювати номер
        </button>
        <button type="button" class="rest-button" data-modprice-open>
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Include plugin after Swiper -->
  <script>
    /* ========
Debugger plugin, simple demo plugin to console.log some of callbacks
======== */
    function myPlugin({ swiper, extendParams, on }) {
      extendParams({
        debugger: false,
      });

      on('init', () => {
        if (!swiper.params.debugger) return;
        console.log('init');
      });
      on('click', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('click');
      });
      on('tap', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('tap');
      });
      on('doubleTap', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('doubleTap');
      });
      on('sliderMove', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('sliderMove');
      });
      on('slideChange', () => {
        if (!swiper.params.debugger) return;
        console.log(
          'slideChange',
          swiper.previousIndex,
          '->',
          swiper.activeIndex
        );
      });
      on('slideChangeTransitionStart', () => {
        if (!swiper.params.debugger) return;
        console.log('slideChangeTransitionStart');
      });
      on('slideChangeTransitionEnd', () => {
        if (!swiper.params.debugger) return;
        console.log('slideChangeTransitionEnd');
      });
      on('transitionStart', () => {
        if (!swiper.params.debugger) return;
        console.log('transitionStart');
      });
      on('transitionEnd', () => {
        if (!swiper.params.debugger) return;
        console.log('transitionEnd');
      });
      on('fromEdge', () => {
        if (!swiper.params.debugger) return;
        console.log('fromEdge');
      });
      on('reachBeginning', () => {
        if (!swiper.params.debugger) return;
        console.log('reachBeginning');
      });
      on('reachEnd', () => {
        if (!swiper.params.debugger) return;
        console.log('reachEnd');
      });
    }
  </script>

  <script>
    // Init Swiper
    var spaceBetween = 20;

    if (
      window.matchMedia('(min-width: 1024px)').matches &&
      window.matchMedia('(max-width: 1280px)').matches
    ) {
      spaceBetween = 34;
    } else if (window.matchMedia('(min-width: 1280px)').matches) {
      spaceBetween = 86;
    } else if (window.matchMedia('(max-width: 1024px)').matches) {
      spaceBetween = 20;
    }

    var swiper = new Swiper('.swiper', {
      // Install Plugin To Swiper
      modules: [myPlugin],
      slidesPerView: 'auto',

      spaceBetween: spaceBetween,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        type: 'fraction',
      },

      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      // Enable debugger
      debugger: true,
    });
  </script>
</section>
