<section class="room-luxe">
  <div class="room-l container">
    <p class="pre-title pre-luxe">Amet minim mollit non</p>
    <a href="../index.html" class="logo-mi">MIMIHO</a>
    <h2 class="title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia cтзonsequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="img-1">
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/hotel/room-luxe-desk-1x.jpg 1x,
          ../img/hotel/room-luxe-desk-2x.jpg 2x
        "
        sizes="(min-width: 780px) 780px, 100vw"
      />
      <source
        media="(min-width: 1024px)"
        srcset="
          ../img/hotel/room-luxe-tab-1x.jpg 1x,
          ../img/hotel/room-luxe-tab-2x.jpg 2x
        "
        sizes="(min-width: 400px) 400px, 100vw"
      />
      <source
        media="(max-width: 1023px)"
        srcset="
          ../img/hotel/room-luxe-mob-1x.jpg 1x,
          ../img/hotel/room-luxe-mob-2x.jpg 2x
        "
        sizes="(min-width: 244px) 244px, 100vw"
      />
      <img src="../img/hotel/room-luxe-mob-1x.jpg" alt="luxe room" />
    </picture>
    <div class="wrap-img-swipe-1">
      <div class="wrap-img-1">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/hotel/cup-tea-desk-1x.jpg 1x,
              ../img/hotel/cup-tea-desk-2x.jpg 2x
            "
            sizes="(min-width: 254px) 254px, 100vw"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ../img/hotel/cup-tea-tab-1x.jpg 1x,
              ../img/hotel/cup-tea-tab-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ../img/hotel/cup-tea-mob-1x.jpg 1x,
              ../img/hotel/cup-tea-mob-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <img src="../img/hotel/bath-desk-1x.jpg" alt="cup of coffee" />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/hotel/bath-desk-1x.jpg 1x,
              ../img/hotel/bath-desk-2x.jpg 2x
            "
            sizes="(min-width: 254px) 254px, 100vw"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ../img/hotel/bath-tab-1x.jpg 1x,
              ../img/hotel/bath-tab-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ../img/hotel/bath-mob-1x.jpg 1x,
              ../img/hotel/bath-mob-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <img src="../img/hotel/bath-mob-1x.jpg " alt="bath" />
        </picture>
      </div>

      <div class="swipe-1">
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-left "></use>
          </svg>
        </button>
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-right "></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="wrap-btn wrap-btn-1">
      <button type="button" class="btn-detail btn">Детальніше</button>
      <button type="button" class="btn-price btn">Переглянути ціни</button>
    </div>
  </div>
</section>
<!-- ---------------SECTION--2-------------- -->
<section class="room-for-3">
  <div class="room-3x container">
    <div class="wrap-title-2">
      <p class="pre-title pre-3x">Amet minim mollit non</p>
      <a href="../index.html" class="logo-mi">MIMIHO</a>
      <div class="wrap-desc-2">
        <h2 class="title">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="description descr-2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <picture class="img-2">
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/hotel/room-luxe-desk-1x.jpg 1x,
          ../img/hotel/room-luxe-desk-2x.jpg 2x
        "
        sizes="(min-width: 780px) 780px, 100vw"
      />
      <source
        media="(min-width: 1024px)"
        srcset="
          ../img/hotel/room-luxe-tab-1x.jpg 1x,
          ../img/hotel/room-luxe-tab-2x.jpg 2x
        "
        sizes="(min-width: 400px) 400px, 100vw"
      />
      <source
        media="(max-width: 1023px)"
        srcset="
          ../img/hotel/room-luxe-mob-1x.jpg 1x,
          ../img/hotel/room-luxe-mob-2x.jpg 2x
        "
        sizes="(min-width: 244px) 244px, 100vw"
      />
      <img src="../img/hotel/room-luxe-mob-1x.jpg" alt="luxe room" />
    </picture>
    <div class="wrap-img-swipe-2">
      <div class="wrap-img-2">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/hotel/cup-tea-desk-1x.jpg 1x,
              ../img/hotel/cup-tea-desk-2x.jpg 2x
            "
            sizes="(min-width: 254px) 254px, 100vw"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ../img/hotel/cup-tea-tab-1x.jpg 1x,
              ../img/hotel/cup-tea-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ../img/hotel/cup-tea-mob-1x.jpg 1x,
              ../img/hotel/cup-tea-mob-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <img src="../img/hotel/bath-desk-1x.jpg" alt="cup of coffee" />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/hotel/bath-desk-1x.jpg 1x,
              ../img/hotel/bath-desk-2x.jpg 2x
            "
            sizes="(min-width: 254px) 254px, 100vw"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ../img/hotel/bath-tab-1x.jpg 1x,
              ../img/hotel/bath-tab-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ../img/hotel/bath-mob-1x.jpg 1x,
              ../img/hotel/bath-mob-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <img src="../img/hotel/bath-mob-1x.jpg " alt="bath" />
        </picture>
      </div>

      <div class="swipe-2">
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-left "></use>
          </svg>
        </button>
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-right "></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="wrap-btn wrap-btn-2">
      <button type="button" class="btn-detail btn">Детальніше</button>
      <button type="button" class="btn-price btn">Переглянути ціни</button>
    </div>
  </div>
</section>

<!-- ---------------SECTION--3-------------- -->

<section class="room-for-2">
  <div class="room-2x container">
    <p class="pre-title pre-2x">Amet minim mollit non</p>
    <a href="../index.html" class="logo-mi">MIMIHO</a>
    <h2 class="title">ДВОМІСНИЙ НОМЕР</h2>
    <p class="description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture class="img-3">
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/hotel/room-luxe-desk-1x.jpg 1x,
          ../img/hotel/room-luxe-desk-2x.jpg 2x
        "
        sizes="(min-width: 780px) 780px, 100vw"
      />
      <source
        media="(min-width: 1024px)"
        srcset="
          ../img/hotel/room-luxe-tab-1x.jpg 1x,
          ../img/hotel/room-luxe-tab-2x.jpg 2x
        "
        sizes="(min-width: 400px) 400px, 100vw"
      />
      <source
        media="(max-width: 1023px)"
        srcset="
          ../img/hotel/room-luxe-mob-1x.jpg 1x,
          ../img/hotel/room-luxe-mob-2x.jpg 2x
        "
        sizes="(min-width: 244px) 244px, 100vw"
      />
      <img src="../img/hotel/room-luxe-mob-1x.jpg" alt="luxe room" />
    </picture>

    <div class="wrap-img-swipe-1">
      <div class="wrap-img-1">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/hotel/cup-tea-desk-1x.jpg 1x,
              ../img/hotel/cup-tea-desk-2x.jpg 2x
            "
            sizes="(min-width: 254px) 254px, 100vw"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ../img/hotel/cup-tea-tab-1x.jpg 1x,
              ../img/hotel/cup-tea-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ../img/hotel/cup-tea-mob-1x.jpg 1x,
              ../img/hotel/cup-tea-mob-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <img src="../img/hotel/bath-desk-1x.jpg" alt="cup of coffee" />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/hotel/bath-desk-1x.jpg 1x,
              ../img/hotel/bath-desk-2x.jpg 2x
            "
            sizes="(min-width: 254px) 254px, 100vw"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ../img/hotel/bath-tab-1x.jpg 1x,
              ../img/hotel/bath-tab-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ../img/hotel/bath-mob-1x.jpg 1x,
              ../img/hotel/bath-mob-2x.jpg 2x
            "
            sizes="(min-width: 194px) 194px, 100vw"
          />
          <img src="../img/hotel/bath-mob-1x.jpg " alt="bath" />
        </picture>
      </div>

      <div class="swipe-1">
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-left "></use>
          </svg>
        </button>
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-right "></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="wrap-btn wrap-btn-1">
      <button type="button" class="btn-detail btn">Детальніше</button>
      <button type="button" class="btn-price btn">Переглянути ціни</button>
    </div>
  </div>
</section>
