<section class="hotelsection">
  <div class="room-l container">
    <p class="pre-title pre-luxe">Amet minim mollit non</p>
    <a href="./index.html" class="logo-mi">MIMIHO</a>
    <h2 class="title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="img-1">
      <source
        srcset="
          ./img/hotel/room-luxe-desk-1x.jpg 1x,
          ./img/hotel/room-luxe-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hotel/room-luxe-tab-1x.jpg 1x,
          ./img/hotel/room-luxe-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/hotel/room-luxe-mob-1x.jpg 1x,
          ./img/hotel/room-luxe-mob-2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <img
        class="img1"
        src="./img/hotel/room-luxe-mob-1x.jpg"
        alt="luxe room"
        width="460"
        height="574"
      />
    </picture>

    <div class="wrap-img-swipe-1">
      <div class="wrap-img-1">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hotel/bath-desk-1x.jpg 1x,
              ./img/hotel/bath-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/hotel/bath-tab-1x.jpg 1x,
              ./img/hotel/bath-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/hotel/bath-cut-mob-1x.jpg 1x,
              ./img/hotel/bath-cut-mob-2x.jpg 2x
            "
          />
          <img
            class="img2"
            src="./img/hotel/bath-mob-1x.jpg "
            alt="bath"
            width="254"
            height="254"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hotel/cup-tea-desk-1x.jpg 1x,
              ./img/hotel/cup-tea-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/hotel/cup-tea-tab-1x.jpg 1x,
              ./img/hotel/cup-tea-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/hotel/cup-tea-mob-1x.jpg 1x,
              ./img/hotel/cup-tea-mob-2x.jpg 2x
            "
          />
          <img
            class="img3"
            src="./img/hotel/cup-tea-mob-1x.jpg"
            alt="cup of coffee"
            width="254"
            height="254"
          />
        </picture>
      </div>

      <div class="swipe-1">
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-left "></use>
          </svg>
        </button>
        <button type="button" class="btn-swipe">
          <svg width="32" height="32">
            <use href="./img/sprite-icons.svg#arrow-right "></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="wrap-btn wrap-btn-1">
      <a href="./apartment.html" class="btn-detail btn">Детальніше</a>
      <button type="button" class="btn-price btn" data-modprice-open>
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
<!-- ---------------SECTION--2-------------- -->
<section class="hotelsection bgc">
  <div class="room-3x container">
    <div class="wrap-title-2">
      <p class="pre-title pre-3x">Amet minim mollit non</p>
      <a href="./index.html" class="logo-mi">MIMIHO</a>
      <div class="wrap-desc-2">
        <h2 class="title">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="description descr-2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      </div>
          <picture class="img-2">
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/hotel/room-luxe-desk-1x.jpg 1x,
                ./img/hotel/room-luxe-desk-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/hotel/room-luxe-tab-1x.jpg 1x,
                ./img/hotel/room-luxe-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/hotel/room-luxe-mob-1x.jpg 1x,
                ./img/hotel/room-luxe-mob-2x.jpg 2x
              "
            />
            <img
              class="img1"
              src="./img/hotel/room-luxe-mob-1x.jpg"
              alt="luxe room"
              width="460"
              height="574"
            />
          </picture>
          <div class="wrap-img-swipe-2">
            <div class="wrap-img-2">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/hotel/bath-desk-1x.jpg 1x,
                    ./img/hotel/bath-desk-2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./img/hotel/bath-tab-1x.jpg 1x,
                    ./img/hotel/bath-tab-2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./img/hotel/bath-mob-1x.jpg 1x,
                    ./img/hotel/bath-mob-2x.jpg 2x
                  "
                />
                <img
                  class="img3"
                  src="./img/hotel/bath-mob-1x.jpg "
                  alt="bath"
                  width="254"
                  height="254"
                />
              </picture>
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/hotel/cup-tea-desk-1x.jpg 1x,
                    ./img/hotel/cup-tea-desk-2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./img/hotel/cup-tea-tab-1x.jpg 1x,
                    ./img/hotel/cup-tea-tab-2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./img/hotel/cup-tea-cut-mob-1x.jpg 1x,
                    ./img/hotel/cup-tea-cut-mob-2x.jpg 2x
                  "
                />
                <img
                  class="img2"
                  src="./img/hotel/cup-tea-mob-1x.jpg"
                  alt="cup of coffee"
                  width="254"
                  height="254"
                />
              </picture>
            </div>

            <div class="swipe-2">
              <button type="button" class="btn-swipe">
                <svg width="32" height="32">
                  <use href="./img/sprite-icons.svg#arrow-left "></use>
                </svg>
              </button>
              <button type="button" class="btn-swipe">
                <svg width="32" height="32">
                  <use href="./img/sprite-icons.svg#arrow-right "></use>
                </svg>
              </button>
            </div>
          </div>

          <div class="wrap-btn wrap-btn-2">
            <a href="./apartment.html" class="btn-detail btn">Детальніше</a>
            <button type="button" class="btn-price btn" data-modprice2-open>
              Переглянути ціни
            </button>
          </div>
          </div>
        </section>

        <!-- ---------------SECTION--3-------------- -->

        <section class="hotelsection">
          <div class="room-2x container">
            <p class="pre-title pre-2x">Amet minim mollit non</p>
            <a href="./index.html" class="logo-mi">MIMIHO</a>
            <h2 class="title">ДВОМІСНИЙ НОМЕР</h2>
            <p class="description">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
              Velit officia consequat duis enim velit mollit. Exercitation veniam
              consequat sunt nostrud amet.
            </p>

            <picture class="img-3">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hotel/room-luxe-desk-1x.jpg 1x,
                  ./img/hotel/room-luxe-desk-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/hotel/room-luxe-tab-1x.jpg 1x,
                  ./img/hotel/room-luxe-tab-2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./img/hotel/room-luxe-mob-1x.jpg 1x,
                  ./img/hotel/room-luxe-mob-2x.jpg 2x
                "
              />
              <img
                class="img1"
                src="./img/hotel/room-luxe-mob-1x.jpg"
                alt="luxe room"
                width="460"
                height="574"
              />
            </picture>

            <div class="wrap-img-swipe-1">
              <div class="wrap-img-1">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/hotel/bath-desk-1x.jpg 1x,
                      ./img/hotel/bath-desk-2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./img/hotel/bath-tab-1x.jpg 1x,
                      ./img/hotel/bath-tab-2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/hotel/bath-cut-mob-1x.jpg 1x,
                      ./img/hotel/bath-cut-mob-2x.jpg 2x
                    "
                  />
                  <img
                    class="img2"
                    src="./img/hotel/bath-mob-1x.jpg "
                    alt="bath"
                    width="254"
                    height="254"
                  />
                </picture>
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/hotel/cup-tea-desk-1x.jpg 1x,
                      ./img/hotel/cup-tea-desk-2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./img/hotel/cup-tea-tab-1x.jpg 1x,
                      ./img/hotel/cup-tea-tab-2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/hotel/cup-tea-mob-1x.jpg 1x,
                      ./img/hotel/cup-tea-mob-2x.jpg 2x
                    "
                  />
                  <img
                    class="img3"
                    src="./img/hotel/cup-tea-mob-1x.jpg"
                    alt="cup of coffee"
                    width="254"
                    height="254"
                  />
                </picture>
              </div>

              <div class="swipe-1">
                <button type="button" class="btn-swipe">
                  <svg width="32" height="32">
                    <use href="./img/sprite-icons.svg#arrow-left "></use>
                  </svg>
                </button>
                <button type="button" class="btn-swipe">
                  <svg width="32" height="32">
                    <use href="./img/sprite-icons.svg#arrow-right "></use>
                  </svg>
                </button>
              </div>
            </div>
              <div class="wrap-btn wrap-btn-1">
                <a href="./apartment.html" class="btn-detail btn">Детальніше</a>

                <button type="button" class="btn-price btn" data-modprice3-open>
                  Переглянути ціни</button>
                </div>
              </div>
              </section>
              