<section class="room-luxe">
  <div class="room-luxe container">
    <p class="pre-title">Amet minim mollit non</p>
    <a href="../index.html" class="logo">MIMIHO</a>
    <h3 class="room-luxe-title title">ДВОМІСНИЙ НОМЕР люкс</h3>
    <p class="description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      src="../src/img/hotel/room-luxe-mob-1x.jpg"
      alt="luxe room"
      srcset="
        ../src/img/hotel/room-luxe-mob-1x.jpg 1x,
        ../src/img/hotel/room-luxe-mob-2x.jpg 2x
      "
      width="244"
      height="322"
    />
    <img
      src="../src/img/hotel/cup-tea-mob-1x.jpg"
      alt="cup of coffee"
      srcset="
        ../src/img/hotel/cup-tea-mob-1x.jpg 1x,
        ../src/img/hotel/cup-tea-mob-2x.jpg 2x
      "
      width="194"
      height="194"
    />
    <img
      src="../src/img/hotel/bath-mob-1x.jpg "
      alt="bath"
      srcset="
        ../src/img/hotel/bath-mob-1x.jpg 1x,
        ../src/img/hotel/bath-mob-2x.jpg 2x
      "
      width="194"
      height="194"
    />
    <button type="button" class="btn-detail">Детальніше</button>
    <button type="button" class="btn-price">Переглянути ціни</button>
  </div>
</section>

<section class="room-for-3">
  <div class="room-3x container">
    <p class="pre-title">Amet minim mollit non</p>
    <a href="../index.html" class="logo">MIMIHO</a>
    <h3 class="room-3x-title title">ТРЬОХМІСНИЙ НОМЕР</h3>
    <p class="description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      src="../src/img/hotel/room-luxe-mob-1x.jpg"
      alt="room for 3"
      srcset="
        ../src/img/hotel/room-luxe-mob-1x.jpg 1x,
        ../src/img/hotel/room-luxe-mob-2x.jpg 2x
      "
      width="244"
      height="322"
    />
    <img
      src="../src/img/hotel/cup-tea-mob-1x.jpg"
      alt="cup of coffee"
      srcset="
        ../src/img/hotel/cup-tea-mob-1x.jpg 1x,
        ../src/img/hotel/cup-tea-mob-2x.jpg 2x
      "
      width="194"
      height="194"
    />
    <img
      src="../src/img/hotel/bath-mob-1x.jpg "
      alt="bath"
      srcset="
        ../src/img/hotel/bath-mob-1x.jpg 1x,
        ../src/img/hotel/bath-mob-2x.jpg 2x
      "
      width="194"
      height="194"
    />
    <button type="button" class="btn-detail">Детальніше</button>
    <button type="button" class="btn-price">Переглянути ціни</button>
  </div>
</section>

<section class="room-for-2">
  <div class="room-2x container">
    <p class="pre-title">Amet minim mollit non</p>
    <a href="../index.html" class="logo">MIMIHO</a>
    <h3 class="room-2x-title title">ДВОМІСНИЙ НОМЕР</h3>
    <p class="description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      src="../src/img/hotel/room-luxe-mob-1x.jpg"
      alt="room for 2"
      srcset="
        ../src/img/hotel/room-luxe-mob-1x.jpg 1x,
        ../src/img/hotel/room-luxe-mob-2x.jpg 2x
      "
      width="244"
      height="322"
    />
    <img
      src="../src/img/hotel/cup-tea-mob-1x.jpg"
      alt="cup of coffee"
      srcset="
        ../src/img/hotel/cup-tea-mob-1x.jpg 1x,
        ../src/img/hotel/cup-tea-mob-2x.jpg 2x
      "
      width="194"
      height="194"
    />
    <img
      src="../src/img/hotel/bath-mob-1x.jpg "
      alt="bath"
      srcset="
        ../src/img/hotel/bath-mob-1x.jpg 1x,
        ../src/img/hotel/bath-mob-2x.jpg 2x
      "
      width="194"
      height="194"
    />
    <button type="button" class="btn-detail">Детальніше</button>
    <button type="button" class="btn-price">Переглянути ціни</button>
  </div>
</section>
