<section class="menu-resto">
  <div class="menu-container">
    <h3 class="menu-resto-title">МЕНЮ РЕСТОРАНУ</h3>
    <div class="menu container">
      <div class="left">
        <table>
          <tr>
            <td class="garychi-stravu">Гарячі страви</td>
          </tr>
          <tr>
            <td class="name-bludo">Борщ з телятини з квасолею</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
            <td class="ves-bludo">400г</td>
            <td class="price-bludo">240грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Суп сирний з куркою</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
            <td class="ves-bludo">400г</td>
            <td class="price-bludo">200грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Паста карбонара</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
            <td class="ves-bludo">350г</td>
            <td class="price-bludo">430грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Стейк зі свинини</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
            <td class="ves-bludo">400г</td>
            <td class="price-bludo">500грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Горбуша в соусі з білого вина</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
            <td class="ves-bludo">400г</td>
            <td class="price-bludo">400грн</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="garnir">Гарніри та закуски</td>
          </tr>
          <tr>
            <td class="name-bludo">Запечені овочі</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Кабачок, перець, помідор, баклажан
            </td>
            <td class="ves-bludo">200г</td>
            <td class="price-bludo">230грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Картопля фрі</td>
          </tr>
          <tr>
            <td class="discription-bludo">Картопля, соус томатний</td>
            <td class="ves-bludo">150г</td>
            <td class="price-bludo">160грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Картопля по-селянськи</td>
          </tr>
          <tr>
            <td class="discription-bludo">Картопля, спеції, соус пікантний</td>
            <td class="ves-bludo">150г</td>
            <td class="price-bludo">160грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Хрумкі соління з бочки</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
            <td class="ves-bludo">250г</td>
            <td class="price-bludo">350грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Крильця курячі в медовому соусі</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою i соусом блючиз
            </td>
            <td class="ves-bludo">400г</td>
            <td class="price-bludo">420грн</td>
          </tr>
        </table>
      </div>
      <div class="right">
        <table>
          <tr>
            <td class="garnir">Салати</td>
          </tr>
          <tr>
            <td class="name-bludo">Цезар з куркою</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
            <td class="ves-bludo">230г</td>
            <td class="price-bludo">450грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Цезар з креветками</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
            <td class="ves-bludo">230г</td>
            <td class="price-bludo">300грн</td>
          </tr>
          <tr>
            <td class="name-bludo">Грецький салат</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
            <td class="ves-bludo">230г</td>
            <td class="price-bludo">280грн</td>
          </tr>
          <tr>
            <td class="name-bludo">М’ясний салат</td>
          </tr>
          <tr>
            <td class="discription-bludo">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
            <td class="ves-bludo">230г</td>
            <td class="price-bludo">300грн</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="garnir">Десерти</td>
          </tr>
          <tr>
            <td class="desert">Торт наполеон</td>
            <td class="ves-bludo">230г</td>
            <td class="price-bludo">300грн</td>
          </tr>
          <tr>
            <td class="desert">Торт маковий</td>
            <td class="ves-bludo">230г</td>
            <td class="price-bludo">300грн</td>
          </tr>
          <tr>
            <td class="desert">Тірамісу</td>
            <td class="ves-bludo">120г</td>
            <td class="price-bludo">260грн</td>
          </tr>
        </table>

        <table>
          <tr>
            <td class="garnir">Напої</td>
          </tr>
          <tr>
            <td class="napoi">Чай чорний/зелений</td>
            <td class="ves-bludo">500мл</td>
            <td class="price-bludo">100грн</td>
          </tr>
          <tr>
            <td class="napoi">Еспресо</td>
            <td class="ves-bludo">30мл</td>
            <td class="price-bludo">100грн</td>
          </tr>
          <tr>
            <td class="napoi">Американо</td>
            <td class="ves-bludo">150мл</td>
            <td class="price-bludo">100грн</td>
          </tr>
          <tr>
            <td class="napoi">Капучино</td>
            <td class="ves-bludo">200мл</td>
            <td class="price-bludo">160грн</td>
          </tr>
          <tr>
            <td class="napoi">Лате</td>
            <td class="ves-bludo">200мл</td>
            <td class="price-bludo">160грн</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="menu-btn">
      <button class="zakaz-stola-btn" type="button" data-modtable1-open>
        Забронювати столик
      </button>
    </div>
  </div>
</section>
