<section class="menu-resto">
    <h3 class="menu-resto-title">МЕНЮ РЕСТОРАНУ</h3>
    <div class="menu">
<div class="left">
    <table>
        <tr>
<td class="garychi-stravu">Гарячі страви</td>
</tr>
<tr>
    <td class="name-bludo">Борщ з телятини з квасолею </td>
    </tr>
    <tr>
    <td class="discription-bludo">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
    <td class="ves-bludo">400 г</td>
    <td class="price-bludo">240 грн</td>
</tr>
<tr>
    <td class="name-bludo">Суп сирний з куркою</td>
    </tr>
    <tr>
    <td class="discription-bludo">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
    <td class="ves-bludo">400 г</td>
    <td class="price-bludo">200 грн</td>
</tr>
<tr>
    <td class="name-bludo">Паста карбонара</td>
    </tr>
    <tr>
    <td class="discription-bludo">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
    <td class="ves-bludo">350 г</td>
    <td class="price-bludo">430 грн</td>
</tr>
<tr>
    <td class="name-bludo">Стейк зі свинини</td>
    </tr>
    <tr>
    <td class="discription-bludo">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
    <td class="ves-bludo">400 г</td>
    <td class="price-bludo">500 грн</td>
</tr>
<tr>
    <td class="name-bludo">Горбуша в соусі з білого вина</td>
    </tr>
    <tr>
    <td class="discription-bludo">Ніжна горбуша, вершковий соус на основі білого вина</td>
    <td class="ves-bludo">400 г</td>
    <td class="price-bludo">400 грн</td>
</tr>
    </table>
    <table>
        <tr>
        <td class="garnir">Гарніри та закуски</td>  
    </tr> 
        <tr>
            <td class="name-bludo">Запечені овочі</td>
            </tr>
            <tr>
            <td class="discription-bludo">Кабачок, перець, помідор, баклажан</td>
            <td class="ves-bludo">200 г</td>
            <td class="price-bludo">230 грн</td>
        </tr>
        <tr>
            <td class="name-bludo">Картопля фрі</td>
            </tr>
            <tr>
            <td class="discription-bludo">Картопля, соус томатний</td>
            <td class="ves-bludo">150 г</td>
            <td class="price-bludo">160 грн</td>
        </tr>
        <tr>
            <td class="name-bludo">Картопля по-селянськи</td>
            </tr>
            <tr>
            <td class="discription-bludo">Картопля, спеції, соус пікантний</td>
            <td class="ves-bludo">150 г</td>
            <td class="price-bludo">160 грн</td>
        </tr>
        <tr>
            <td class="name-bludo">Хрумкі соління з бочки</td>
            </tr>
            <tr>
            <td class="discription-bludo">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
            <td class="ves-bludo">250 г</td>
            <td class="price-bludo">350 грн</td>
        </tr>
        <tr>
            <td class="name-bludo">Крильця курячі в медовому соусі</td>
            </tr>
            <tr>
            <td class="discription-bludo">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою i соусом блючиз</td>
            <td class="ves-bludo">400 г</td>
            <td class="price-bludo">420 грн</td>
        </tr>
        </table>
    </div>


   <div class="right">
        <table>
            <tr>
            <td class="garnir">Салати</td>   
        </tr>
            <tr>
                <td class="name-bludo">Цезар з куркою</td>
                </tr>
                <tr>
                <td class="discription-bludo">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                <td class="ves-bludo">230 г</td>
                <td class="price-bludo">450 грн</td>
            </tr>
            <tr>
                <td class="name-bludo">Цезар з креветками</td>
                </tr>
                <tr>
                <td class="discription-bludo">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                <td class="ves-bludo">230 г</td>
                <td class="price-bludo">300 грн</td>
            </tr>
            <tr>
                <td class="name-bludo">Грецький салат</td>
                </tr>
                <tr>
                <td class="discription-bludo">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
                <td class="ves-bludo">230 г</td>
                <td class="price-bludo">280 грн</td>
            </tr>
            <tr>
                <td class="name-bludo">М’ясний салат</td>
                </tr>
                <tr>
                <td class="discription-bludo">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
                <td class="ves-bludo">230 г</td>
                <td class="price-bludo">300 грн</td>
            </tr>
            </table>
            <table>
           
            <tr>
                <td class="garnir">Десерти</td> 
            </tr>  
                <tr>
                    <td class="desert">Торт наполеон</td>
                    <td class="ves-bludo">230 г</td>
                    <td class="price-bludo">300 грн</td>
               </tr>
                <tr>
                    <td class="desert">Торт маковий</td>
                    <td class="ves-bludo">230 г</td>
                    <td class="price-bludo">300 грн</td>
                </tr>
                <tr>
                    <td class="desert">Тірамісу</td>
                    <td class="ves-bludo">120 г</td>
                    <td class="price-bludo">260 грн</td>
                </tr>
                </table>
                <tr>
               </table>
                    <table>
                        <td class="garnir">Напої</td> 
                    </tr>  
                        <tr>
                            <td class="napoi">Чай чорний/зелений</td>
                            <td class="ves-bludo">500 мл</td>
                            <td class="price-bludo">100 грн</td>
                       </tr>
                        <tr>
                            <td class="napoi">Еспресо</td>
                            <td class="ves-bludo">30 мл</td>
                            <td class="price-bludo">100 грн</td>
                        </tr>
                        <tr>
                            <td class="napoi">Американо</td>
                            <td class="ves-bludo">150 мл</td>
                            <td class="price-bludo">100 грн</td>
                        </tr>
                        <tr>
                            <td class="napoi">Капучино</td>
                            <td class="ves-bludo">200 мл</td>
                            <td class="price-bludo">160 грн</td>
                        </tr>
                        <tr>
                            <td class="napoi">Лате</td>
                            <td class="ves-bludo">200 мл</td>
                            <td class="price-bludo">160 грн</td>
                        </tr>
                    </table>
                </div>
            </div>
          <button class="zakaz-stola-btn" type="button">Забронювати столик</button>  
        
</section>