<div class="backdrop is-hidden" data-modprice3>
  <div class="modal">
    <button class="modal-close button" data-modprice3-close>
      <svg width="24" height="24" class="icon-modal-close">
        <use href="./img/sprite-icons.svg#close"></use>
      </svg>
    </button>
    <h1 class="modal-title">ЦІНИ НА НОМЕР</h1>
    <h2 class="modal-secondary-title">Двомісний номер</h2>
    <p class="modal-text modal-label">Категорія номеру</p>
    <form class="modal-form">
      <div class="modal-tablet">
        <div class="form-field">
          <input
            type="number"
            class="modal-input modprice-nigth"
            name="nigths"
            id="nigths"
            value="1"
            min="1"
            required
          />
          <label for="nigths" class="modal-label">Кількість ночей</label>
        </div>

        <div class="form-field">
          <input
            type="number"
            class="modal-input"
            name="price"
            id="price"
            value="700"
            step="700"
            min="700"
          />
          <label for="price" class="modal-label">грн</label>
        </div>
      </div>

      <button type="submit" class="modal-btn">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
