<div class="backdrop is-hidden" data-modroom>
  <div class="modal">
    <button class="modal-close button" data-modroom-close>
      <svg width="24" height="24" class="icon-modal-close">
        <use href="../img/sprite-icons.svg#close"></use>
      </svg>
    </button>
    <h1 class="modal-title">ЗАБРОНЮВАТИ НОМЕР</h1>
    <form class="modal-form">
      <div class="form-field">
        <input
          type="text"
          class="modal-input"
          name="name"
          id="name"
          placeholder="Ваше ім’я"
          pattern="^[А-Яа-яЁё\s]+$"
          required
        />
        <label for="name" class="modal-label">На кого забронювати номер?</label>
      </div>

      <div class="form-field">
        <input
          type="tel"
          class="modal-input"
          name="tel"
          id="tel"
          placeholder="+38 (___) ___-__-__"
          pattern="/^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$/"
          required
        />
        <label for="nigths" class="modal-label">Номер телефону</label>
      </div>

      <div class="form-field">
        <select id="category" name="category" class="modal-input">
          <option value="1-berth">Двомісний номер</option>
          <option value="2-berth-lux" selected>Двомісний люкс</option>
          <option value="3-berth">Тримісний номер</option>
        </select>
        <label for="category" class="modal-label">Категорія номеру</label>
      </div>

      <div class="form-field">
        <input
          type="date"
          class="modal-input"
          name="data-in"
          id="data-in"
          value="2023-03-01"
          min="2023-03-01"

          required
        />
        <label for="data-in" class="modal-label">Дата заїзду</label>
      </div>

      <div class="form-field">
        <input
          type="date"
          class="modal-input"
          name="data-out"
          id="data-out"
          value="2023-03-02"
          min="2023-03-02"

          required
        />
        <label for="data-out" class="modal-label">Дата виїзду</label>
      </div>

      <button type="submit" class="modal-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>

