<div class="backdrop is-hidden" data-modroom1>
  <div class="modal">
    <button class="modal-close button" data-modroom1-close>
      <svg width="24" height="24" class="icon-modal-close">
        <use href="./img/sprite-icons.svg#close"></use>
      </svg>
    </button>
    <h1 class="modal-title">ЗАБРОНЮВАТИ НОМЕР</h1>
    <form class="modal-form">
      <div class="modal-tablet">
        <div class="form-field">
          <input
            type="text"
            class="modal-input"
            name="name"
            id="name"
            placeholder="Ваше ім’я"
            pattern="^[А-Яа-яЁё\s]+$"
            required
          />
          <label for="name" class="modal-label"
            >На кого забронювати номер?</label
          >
        </div>

        <div class="form-field">
          <input
            type="tel"
            class="modal-input"
            name="tel"
            id="tel"
            placeholder="+38 (___) ___-__-__"
            pattern="/^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$/"
            required
          />
          <label for="tel" class="modal-label">Номер телефону</label>
        </div>

        <div class="form-field">
          <input
            type="text"
            class="modal-input special"
            name="name1"
            id="name1"
            pattern="^[А-Яа-яЁё\s]+$"
            required
          />
          <label for="name1" class="modal-label special"
            >На кого забронювати номер?</label
          >
        </div>

        <div class="form-field arrow-position">
          <select id="category" name="category" class="modal-input calendar">
            <option class="modal-input select-frame" value="1-berth">
              Двомісний номер
            </option>
            <option
              class="modal-input select-frame"
              value="2-berth-lux"
              selected
            >
              Двомісний люкс
            </option>
            <option class="modal-input select-frame" value="3-berth">
              Тримісний номер
            </option>
          </select>
          <svg class="modal-svg" width="24" height="24">
            <use href="./img/sprite-icons.svg#down-bold"></use>
          </svg>
          <div class="box-hidden"></div>
          <label for="category" class="modal-label">Категорія номеру</label>
        </div>

        <div class="form-field arrow-position">
          <input
            type="date"
            class="modal-input calendar"
            name="data-in"
            id="data-in"
            min="2023-03-01"
            required
          />
          <svg class="modal-svg" width="24" height="24">
            <use href="./img/sprite-icons.svg#down-bold"></use>
          </svg>
          <label for="data-in" class="modal-label">Дата заїзду</label>
        </div>

        <div class="form-field arrow-position">
          <input
            type="date"
            class="modal-input calendar"
            name="data-out"
            id="data-out"
            min="2023-03-02"
            required
          />
          <svg class="modal-svg" width="24" height="24">
            <use href="./img/sprite-icons.svg#down-bold"></use>
          </svg>
          <label for="data-out" class="modal-label">Дата виїзду</label>
        </div>
      </div>

      <button type="submit" class="modal-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
