<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close button" data-modal-close>
      <svg width="24" height="24" class="icon-modal-close">
        <use href="../img/sprite-icons.svg#close"></use>
      </svg>
    </button>
    <h1 class="modal-title">ЗАБРОНЮВАТИ СТОЛИК</h1>
    <form class="modal-form">
      <div class="form-field">
        <input
          type="text"
          class="modal-input"
          name="name"
          id="name"
          placeholder="Ваше ім’я"
          pattern="^[А-Яа-яЁё\s]+$"
          required
        />
        <label for="name" class="modal-label">На кого забронювати номер?</label>
      </div>

      <div class="form-field">
        <input
          type="tel"
          class="modal-input"
          name="tel"
          id="tel"
          placeholder="+38 (___) ___-__-__"
          pattern="/^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$/"
          required
        />
        <label for="nigths" class="modal-label">Номер телефону</label>
      </div>

      <div class="form-field">
        <input
          type="number"
          class="modal-input"
          name="people"
          id="people"
          value="2"
          min="1"
          pattern="[0-9]{,2}"
          required
        />
        <label for="people" class="modal-label">Столик на яку кількість осіб?</label>
      </div>

      <div class="form-field">
        <input
          type="date"
          class="modal-input"
          name="data-book"
          id="data-book"
          value="2023-03-01"
          min="2023-03-01"
          required
        />
        <label for="data-book" class="modal-label"
          >На яку дату бронювати?</label
        >
      </div>

      <button type="submit" class="modal-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
<script src="./js/modal.js"></script>
