<section class="restaurant">
  <div class="container-rest">
    <div class="rest-card1">
      <div>
        <p class="rest-title">Amet minim mollit non</p>
        <h3 class="rest-logo">MIMIHO</h3>
        <p class="rest-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="rest-img1">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/restaurant/rest-desktop-1_1x.jpg 1x,
            ./img/restaurant/rest-desktop-1_2x.jpg 2x
          "
          class="rest-img"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/restaurant/rest-tablet-1_1x.jpg 1x,
            ./img/restaurant/rest-tablet-1_2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/restaurant/rest-mobile-1_1x.jpg 1x,
            ./img/restaurant/rest-mobile-1_2x.jpg 2x
          "
        />
        <img
          src="./img/restaurant/rest-mobile-1_1x.jpg"
          alt="cooking"
          class="rest-img img4"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <div class="rest-card2">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/restaurant/rest-desktop-2_1x.jpg 1x,
            ./img/restaurant/rest-desktop-2_2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/restaurant/rest-tablet-2_1x.jpg 1x,
            ./img/restaurant/rest-tablet-2_2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/restaurant/rest-mobile-2_1x.jpg 1x,
            ./img/restaurant/rest-mobile-2_2x.jpg 2x
          "
        />
        <img
          src="./img/restaurant/rest-mobile-2_1x.jpg"
          alt="knife and meat"
          class="rest-img img5"
          width="460"
          height="574"
        />
      </picture>
      <p class="rest-card-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="rest-slider">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/restaurant/rest-desktop-3_1x.jpg 1x,
            ./img/restaurant/rest-desktop-3_2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/restaurant/rest-tablet-3_1x.jpg 1x,
            ./img/restaurant/rest-tablet-3_2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/restaurant/rest-mobile-3_1x.jpg 1x,
            ./img/restaurant/rest-mobile-3_2x.jpg 2x
          "
        />
        <img
          src="./img/restaurant/rest-mobile-3_1x.jpg"
          alt="hands in flour"
          class="rest-img img6"
          width="254"
          height="254"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/restaurant/rest-desktop-4_1x.jpg 1x,
            ./img/restaurant/rest-desktop-4_2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/restaurant/rest-tablet-4_1x.jpg 1x,
            ./img/restaurant/rest-tablet-4_2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/restaurant/rest-mobile-4_1x.jpg 1x,
            ./img/restaurant/rest-mobile-4_2x.jpg 2x
          "
        />
        <img
          src="./img/restaurant/rest-mobile-4_1x.jpg"
          alt="hands in flour"
          class="rest-img img7"
          width="254"
          height="254"
        />
      </picture>
    </div>
    <div class="rest-slider-btn">
      <button type="button" class="rest-swipe-left">
        <svg width="32px" height="32px">
          <use href="./img/sprite-icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="rest-swipe-right">
        <svg height="32px" width="32px">
          <use href="./img/sprite-icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
