<section class="section-room">
  <div class="room-container">
    <div class="room-title-items">
      <h2 class="room-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
      <p class="room-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <ul class="room-list">
      <li class="room-items">
        <h3 class="room-title-second">ЗАГАЛЬНІ</h3>
        <div class="room-text-container">
          <p class="room-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="room-items">
        <h3 class="room-title-second">ВАННА КІМНАТА</h3>
        <div class="room-text-container">
          <p class="room-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="room-items">
        <h3 class="room-title-second">СПАЛЬНЯ</h3>
        <p class="room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="room-items">
        <h3 class="room-title-second">КУХНЯ</h3>
        <div class="room-text-container">
          <p class="room-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="room-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="room-items">
        <h3 class="room-title-second">МЕДІА</h3>
        <p class="room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="room-btn-item">
      <button type="button" class="room-btn" data-modroom-open>
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a href="./hotel.html" class="room-item">
        <span>Повернутися до перегляду номерів</span>
        <svg class="room-icon" width="24" height="24">
          <use href="./img/sprite-icons.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
