.hero-room:before {
    display:block;
    content: '';
    /* position:relative; */
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
    width:100%;
    height:143px;
}
.hero-room {
    background-color: #181414;
    background-image: url(../img/hero-room/room-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-room {
        background-image:
            url(../img/hero-room/room-mob@2x.jpg);
    }
}
@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx)
{
    .hero-room {
        background-image:
            url(../img/hero-room/room-mob@3x.jpg);
    }
}


.hero-room-container{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 208px;
    padding-bottom: 14px;
}
.hero-room-icons {
    display: flex;
    justify-content: space-between;
}
.hero-room-icon {
    background: rgba(0, 0, 0, 0.65);
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-room-icon:hover,
.hero-room-icon:focus,
.hero-room-icon:active {
  fill: var(--color-acsent);
}

.hero-room-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 93px;
}
.hero-room-title {
    font-family: 'Times New Roman';
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.hero-room-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 325px;
}
.hero-room-btn {
    padding: 14px 35px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-acsent);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    right: 15px;
    bottom: 40px;
}
.hero-room-btn:hover,
.hero-room-btn:focus {
    background-color: var(--color-acsent);
    border: 1px solid #F3C653;
    color: #000000;
}
.hero-room-soc {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}
.hero-room-soc-icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--color-acsent);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-room-soc-icon:hover,
.hero-room-soc-icon:focus {
  fill: #FFFFFF;
}
.hero-room-map {
    position: absolute;
    top: -78px;
    right: 15px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 3px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #E5E5E5;
}
.hero-room-link {
    padding-left: 33px;
    display: block;
}
.hero-room-icon-location {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--color-acsent);

}



@media screen and (min-width: 414px) {
    .hero-room-container {
        width: 414px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .hero-room:before {
        height: 116px;
    }
    .hero-room {
        background-image: url(../img/hero-room/room-tab.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-room {
            background-image:
                url(../img/hero-room/room-tab@2x.jpg);
        }
    }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .hero-room {
            background-image:
                url(../img/hero-room/room-tab@3x.jpg);
        }
    }
    .hero-room-container {
        width: 960px;
        padding-top: 225px;
        padding-bottom: 22px;
    }
    .hero-room-info {
        gap: 24px;
        margin-top: 88px;
    }
    .hero-room-title {
        font-size: 36px;
    }
    .hero-room-text {
        font-weight: 700;
        font-size: 16px;
        max-width: 400px;
    }
    .hero-room-btn {
        bottom: 62px;
    }
    .hero-room-map {
        position:static;
        padding-left: 8px;
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;

        font-size: 16px;
    }
    .hero-room-map-soc {
        display: flex;
        gap: 40px;
        margin-top: 24px;
        align-items: flex-start;
    }
    .hero-room-soc {
        flex-direction: row;
        gap: 20px;

    }
    .hero-room-link {
        position: relative;

    }
    .hero-room-icon-location {
        position: absolute;
        height: 24px;
        width: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        fill: var(--color-acsent);

    }


}
@media screen and (min-width: 1280px) {
    .hero-room:before {
        height: 147px;
    }
    .hero-room {
        background-image: url(../img/hero-room/room-desk.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-room {
            background-image:
                url(../img/hero-room/room-desk@2x.jpg);
        }
    }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .hero-room {
            background-image:
                url(../img/hero-room/room-desk@3x.jpg);
        }
    }
    .hero-room-container {
        width: 1140px;
        padding-top: 265px;
        padding-bottom: 48px;
    }
    .hero-room-info {
        margin-top: 72px;
    }
    .hero-room-text {
        font-size: 16px;
    }
    .hero-room-btn {
        position: static;
    }
    .hero-room-btn-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .hero-room-map {
        display: none;
    }
    .hero-room-soc {
        display: none;
    }
    .hero-room-map-soc {
        margin: 0;
        height: 0;
    }



}