.hero {
  padding-top: 181px;
  padding-bottom: 20px;
  background-color: #0e0c07;
}

.hero-room-map {
  position: absolute;
  top: -117px;
  right: 15px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 3px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-room-map:hover,
.hero-room-map:focus {
  background-color: rgba(0, 0, 0, 0.6);;
}
.hero-room-link {
  padding-left: 33px;
  padding-right: 6px;
  display: flex;
  text-align: left;
}
.hero-room-icon-location {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-acsent);
  margin-left: 6px;
}

.sub-cont {
  position: relative;
}

.rest-hotel {
  width: 100%;
  /* position: relative; */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../img/hero-img/bg-hero-index-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rest-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hero-index-mob@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rest-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hero-index-mob@3x.jpg);
  }
}

/* .hero>.container {
    padding-left: 15px;
    padding-right: 15px;
} */
.title-hero {
  font-family: Mimino-700, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 96px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
  margin-left: 28px;
}
.title-hero.hotel {
  margin-bottom: 32px;
}
.title-hero.rest {
  margin-bottom: 20px;
}
@media screen and (max-width: 350px) {
  .title-hero.rest {
    margin-left: 8px;
  }
  .title-hero.hotel {
    margin-left: 8px;
  }
  .title-hero {
    margin-left: 8px;
  }
}
.subtitle-hero {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 40px;
}
.subtitle-hero.rest {
  margin-bottom: 44px;
}
.subtitle-hero.hotel {
  margin-bottom: 178px;
}
.heading-hero {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 113px;
}
.maps-address {
  /* position: absolute; */
  border-radius: 2px;
  /* top: -116px; */
  padding-right: 8px;
  padding-top: 8px;

  padding-bottom: 8px;
  padding-left: 44px;
  /* right: 15px; */
  border: 1px solid rgba(243, 198, 83, 0.7);
}
.map-address {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.icon-picture {
  position: absolute;
  top: 13px;
  left: 6px;
  fill: #f3c653;
  width: 24px;
  height: 24px;
}
/* .buttons-hero {
  text-align: -webkit-center;
} */
.hero-btn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  /* margin-top: 113px; */
}

.hero-button {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #f3c653;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 14px 24px;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #ffffff;
}

.rest-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../img/hero-img/bg-rest-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rest-hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-rest-mob@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rest-hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-rest-mob@3x.jpg);
  }
}

.hotel-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../img/hero-img/bg-hotel-mob@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hotel-hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hotel-mob@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hotel-hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hotel-mob@3x.jpg);
  }
}
.hero-soc-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--color-acsent);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-soc-icon:hover,
.hero-soc-icon:focus {
  fill: #ffffff;
}
.hero-soc {
  display: flex;
  gap: 20px;
  margin-top: 58px;
}
/* mob */
@media (min-width: 414px) {
  /* .container {
        width: 414px;
        margin: 0 auto;
    } */
}
.sub-hotel {
  font-size: 20px;
  line-height: 24px;
}

/* tab */

@media screen and (min-width: 1024px) {
  /* .container {
        width: 960px;
        margin: 0 auto;
    } */
  .hero {
    padding-top: 188px;
    padding-bottom: 15px;
  }
  .hero-room-map {
    position: static;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;

    font-size: 16px;
  }
  .hero-room-link {
    position: relative;
  }
  .hero-room-icon-location {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--color-acsent);
    margin-left: 0;
  }
  .title-hero {
    font-size: 128px;
    line-height: 138px;
    margin-bottom: 16px;
    margin-left: 35px;
  }
  .subtitle-hero {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 56px;
  }
  .title-hero.rest {
    margin-bottom: 16px;
  }
  .subtitle-hero.rest {
    margin-bottom: 56px;
  }
  .subtitle-hero.hotel {
    margin-bottom: 218px;
  }
  .heading-hero {
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 137px;
  }
  .hero-btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 0;
  }
  .hero-button.black {
    background-color: #000000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button.black:hover,
  .hero-button.black:focus {
    background-color: #ffffff;
  }
  .hero-soc {
    margin-top: 25px;
  }

  .rest-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hero-index-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hero-index-tab@2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hero-index-tab@3x.jpg);
    }
  }

  .buttons-hero {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
  .maps-address {
    position: static;
  }
  .map-address {
    /* display: block; */
    padding-left: 34px;
    padding-left: 0;
    position: relative;
    /* position: absolute; */
    /* top: 118px; */
    /* left: 0; */
    /* width: 210px; */
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    /* padding-left: 34px; */
  }
  .icon-picture {
    top: 7px;
    left: -47px;
  }
  .hero-btns {
    display: flex;
    flex-direction: row;
  }
  .hero-btn {
    gap: 40px;
  }
  .rest-hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-rest-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-rest-tab@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-rest-tab@3x.jpg);
    }
  }
  .subtitle-hero {
    font-size: 20px;
    line-height: 24px;
  }
  .heading-hero {
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
  }
  .title-hero.rest {
    margin-bottom: 16px;
  }
  .subtitle-hero.rest {
    margin-bottom: 56px;
  }
  .hotel-hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hotel-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hotel-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hotel-tab@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 288dpi),
    (min-resolution: 2dppx) {
    .hotel-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hotel-tab@3x.jpg);
    }
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  /* .container {
            width: 1140px;
            padding-right: 15px;
            padding-left: 15px;
            margin: auto;
        } */
  .hero {
    padding-top: 164px;
    padding-bottom: 64px;
  }
  .rest-hotel {
    /* position: relative; */
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hero-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hero-index@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 288dpi),
    (min-resolution: 2dppx) {
    .rest-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hero-index@3x.jpg);
    }
  }

  .rest-herol {
    position: relative;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-rest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-rest@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 288dpi),
    (min-resolution: 2dppx) {
    .rest-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-rest@3x.jpg);
    }
  }
  .hotel-hero {
    position: relative;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero-img/bg-hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hotel-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hotel@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 288dpi),
    (min-resolution: 2dppx) {
    .hotel-hero {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero-img/bg-hotel@3x.jpg);
    }
  }

  .title-hero {
    margin-bottom: 32px;
  }
  .subtitle-hero {
    margin-bottom: 64px;
  }
  .subtitle-hero.hotel {
    margin-bottom: 242px;
  }
  .sub-hotel {
    margin-bottom: 199px;
  }
  .hero-soc {
    display: none;
  }
  .hero-btn {
    gap: 60px;
  }
  .hero-button.black {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .title-hero.rest {
    margin-bottom: 16px;
  }
  .subtitle-hero.rest {
    margin-bottom: 64px;
  }
  .title-hero.rest {
    margin-bottom: 32px;
  }
}
