.first-image,
.second-image,
.picture {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px #00000040;
  background: #dadada;
}

.first-section,
.third-section {
  overflow: hidden;
}

.sec-container {
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

/* first section */
.first-section {
  background-color: #fffdee;
}

.header-two {
  color: #b4b4b4;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  width: 198px;
  margin: 0;
  margin-top: 16px;
}

.header-tree {
  color: #494848;
  font-family: 'Mimino-700', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  width: 134px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.grey-text {
  color: #7a7a7a;
  width: 241px;
}

.brown-text {
  color: #c79002;
  margin-left: 20px;
  padding-bottom: 0;
  max-width: 175px;
}

.first-section .brown-text {
  margin-top: auto;
  margin-bottom: auto;
}

.first-image {
  margin-left: auto;
  margin-top: 28px;
  margin-bottom: 32px;
  width: 244px;
  height: 322px;
}

.second-image {
  margin-right: auto;
  min-width: 200px;
  height: 278px;
}

.second-interior {
  display: flex;
}

.pictures-list {
  display: flex;
  margin-top: 32px;
  margin-right: -195px;
}

.pictures-list .picture {
  display: block;
  height: 245px;
  min-width: 245px;
}

.pictures-list .item:not(:last-child) {
  margin-right: 25px;
  margin-left: auto;
}

.arrows-list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-arrow {
  display: block;
  width: 32px;
  height: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.icon-arrow:hover,
.icon-arrow:focus,
.icon-arrow:active {
  fill: var(--color-acsent);
}

.arrows-list .item:not(:last-child) {
  margin-right: 32px;
  margin-left: auto;
}

/* third section */
.third-section {
  background-color: #fffdee;
}

.third-section .header-two {
  margin-left: auto;
  margin-top: 18px;
}

.third-section .header-tree {
  margin-left: auto;
  margin-top: 6px;
  margin-bottom: 16px;
}

.third-section .grey-text {
  margin-left: auto;
}

.third-section .brown-text {
  margin-left: 0;
  margin-right: 21px;
  margin-top: auto;
  margin-bottom: auto;
}

.third-section .first-image {
  margin-left: 0;
  margin-right: auto;
}

.third-section .second-image {
  margin-right: 0;
}

.third-section .pictures-list {
  margin-left: -195px;
}

.third-section .pictures-list .item:not(:last-child) {
  margin-left: 0;
}

.third-section .arrows-list .item:not(:last-child) {
  margin-left: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* first section */

  .first-image,
  .second-image {
    border-radius: 0;
  }

  .sec-container {
    max-width: 930px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .first-section {
    overflow: visible;
  }

  .first-section .item {
    display: flex;
  }

  .about-restaurant {
    width: 439px;
    margin-top: 120px;
    margin-right: 26px;
  }

  .header-two {
    width: 317px;
    margin-top: 0;
    font-size: 32px;
  }

  .header-tree {
    font-size: 64px;
    width: 179px;
    margin-top: 4px;
    margin-bottom: 24px;
  }

  .text {
    font-size: 16px;
    width: 439px;
  }

  .grey-text {
    width: 439px;
    margin-right: 26px;
  }

  .brown-text {
    margin-left: 48px;
    max-width: 312px;
  }

  .first-image {
    margin-left: 0;
    margin-top: -32px;
    margin-bottom: 0;
    width: 400px;
    height: 524px;
    z-index: 2;
  }

  .second-image {
    margin-top: -16px;
    width: 350px;
    height: 500px;
  }

  .pictures-list .picture {
    height: 194px;
    min-width: 194px;
  }

  .pictures-list {
    margin-top: -28px;
    margin-right: 0;
  }

  .pictures-list .item:not(:last-child) {
    margin-right: 40px;
    margin-left: auto;
  }

  .arrows-list {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  /* third section */

  .third-section .item {
    display: flex;
  }

  .third-section .item:not(:last-child) {
    flex-direction: row-reverse;
  }

  .third-section {
    overflow: visible;
  }

  .third-section .about-restaurant {
    width: 419px;
    margin-top: 120px;
    margin-left: 46px;
    margin-right: 0;
  }

  .third-section .header-two {
    margin-top: 0;
  }

  .third-section .header-tree {
    margin-top: 4px;
    margin-bottom: 24px;
  }

  .third-section .brown-text {
    width: 312px;
    margin-right: 48px;
    margin-left: auto;
  }

  .third-section .first-image {
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
  }

  .third-section .pictures-list {
    flex-direction: row-reverse;
    margin-left: 0;
  }

  .third-section .pictures-list .item:not(:last-child) {
    margin-right: auto;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  /* first section */

  .sec-container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .first-section {
    overflow: visible;
  }

  .first-section .item {
    display: flex;
  }

  .about-restaurant {
    width: 518px;
    margin-top: 120px;
    margin-right: 37px;
  }

  .header-two {
    width: 317px;
    font-size: 32px;
  }

  .header-tree {
    font-size: 64px;
    width: 179px;
    margin-top: 4px;
    margin-bottom: 24px;
  }

  .text {
    font-size: 16px;
    width: 439px;
  }

  .grey-text {
    width: 518px;
    margin-right: 26px;
  }

  .brown-text {
    margin-left: 32px;
    max-width: 312px;
  }

  .first-section .brown-text {
    margin-top: 121px;
    margin-bottom: auto;
  }

  .first-image {
    margin-left: 0;
    margin-top: -33px;
    margin-bottom: 0;
    width: 460px;
    height: 574px;
    z-index: 2;
  }

  .second-image {
    margin-top: -65px;
    width: 460px;
    height: 574px;
  }

  .pictures-list .picture {
    height: 254px;
    min-width: 254px;
  }

  .pictures-list {
    margin-top: -147px;
    margin-right: 0;
  }

  .pictures-list .item:not(:last-child) {
    margin-right: 40px;
    margin-left: auto;
  }

  .arrows-list {
    margin-top: 36px;
    margin-bottom: 50px;
  }

  /* third section */

  .third-section .item {
    display: flex;
  }

  .third-section .item:not(:last-child) {
    flex-direction: row-reverse;
  }

  .third-section {
    overflow: visible;
  }

  .third-section .about-restaurant {
    width: 518px;
    margin-top: 120px;
    margin-left: 67px;
    margin-right: 0;
  }

  .third-section .header-two {
    margin-top: 0;
  }

  .third-section .header-tree {
    margin-top: 4px;
    margin-bottom: 24px;
  }

  .third-section .brown-text {
    width: 312px;
    padding-right: 0;
    margin-right: 45px;
    margin-left: auto;
    margin-top: 123px;
  }

  .third-section .first-image {
    margin-top: -25px;
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
  }

  .third-section .second-image {
    margin-top: -46px;
    width: 460px;
    height: 574px;
  }

  .third-section .pictures-list {
    flex-direction: row-reverse;
    /* margin-top: -179x; */
    margin-left: 0;
  }

  .third-section .pictures-list .item:not(:last-child) {
    margin-right: auto;
    margin-left: 40px;
  }
}
