.homepage-2-4 {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: #0e0c07;
  width: 100%;
}
.hotel-h2,
.rest-h2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
}
.hotel-h2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('../img/hmpg-2-4/hotel-back.jpg');
}

.rest-h2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url('../img/hmpg-2-4/restaurant-back.jpg');
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rest-h2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hmpg-2-4/restaurant-back@2x.jpg');
  }
  .hotel-h2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url('../img/hmpg-2-4/hotel-back@2x.jpg');
  }
}

.rest-container,
.hotel-container {
  overflow: hidden;
}

.textblock {
  max-width: 259px;
  margin-left: auto;
  margin-bottom: 48px;
}

.logo-h2 {
  font-family: Mimino-700;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.title-h2 {
  margin-top: 12px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.text-h2 {
  margin-top: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}

.textblock-hotel {
  text-align: right;
  max-width: 243px;
  margin-right: auto;
  margin-left: 17px;
  margin-bottom: 48px;
}

.textblock-hotel .text-h2 {
  text-align: left;
}

.hotel-slider-wrap {
  direction: rtl;
}
.hotel-slider-image {
  border-radius: 2px;
  width: 274px;
}

.slider-btn-wrap {
  margin-left: 25px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.slider-btn-wrap-right {
  margin-right: 27px;
  text-align: right;
  margin-top: 16px;
  margin-bottom: 32px;
}

.swipe-left,
.swipe-right {
  text-align: center;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  fill: #ffffff;
  width: 32px;
  height: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swipe-left {
  margin-right: 32px;
}

.swipe-left:active,
.swipe-left:focus,
.swipe-left:hover,
.swipe-right:active,
.swipe-right:focus,
.swipe-right:hover {
  fill: #f3c653;
}

.rest-button {
  display: block;
  width: 236px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rest-button:last-child {
  margin-bottom: 0;
}

.rest-button:hover,
.rest-button:focus,
.rest-button:active {
  background-color: #ffffff;
  border: 2px solid #f3c653;
}

/*MOBILE ONLY*/
@media screen and (max-width: 413px) {
  .swiper-slide img,
  .swiper-slide-active {
    width: 70vmin;
  }

  .rest-png-image {
    display: none;
  }

  .mobile-visible img {
    width: 13vmin;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
  }
  .mobile-visible.swiper-slide-active img {
    width: 39vmin;
  }

  .hotel-png-image {
    display: none;
  }

  .hotel-slider-image img {
    width: 70vmin;
    object-fit: cover;
  }
}

@media screen and (max-width: 1023px) {
  .tablet-content-wrap-hotel > .big-slider-wrap {
    margin-left: -15px;
    width: 374px;
  }

  .hotel-slider-image.cropped {
    margin-left: 1px;
  }

  /* .textblock-hotel,
  .tablet-content-wrap-hotel > .buttons-wrap {
    padding-left: 15px;
  } */

  .small-slider-image {
    display: none;
  }

  .rest-slider-wrap,
  .hotel-slider-wrap {
    display: flex;
    width: max-content;
    height: auto;
    overflow: auto;
  }

  .rest-slider-image {
    margin: 0;
  }
  .hotel-slider-wrap {
    position: relative;
    flex-direction: row-reverse;
    justify-content: end;
  }

  .big-slider-wrap {
    margin-left: 25px;
    overflow: hidden;
  }

  .slider-btn-wrap {
    margin-left: 0;
  }

  .slider-btn-wrap-right {
    margin-right: 0;
  }
  .big-slider-wrap {
    width: calc(100% + 15px);
    overflow: hidden;
  }

  .mobile-visible {
    display: block;
  }

  .tablet-content-wrap-hotel > .big-slider-wrap {
    margin-right: 25px;
  }
}

/*TABLET*/

@media screen and (min-width: 1024px) {
  .hotel-h2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url('../img/hmpg-2-4/hotel-back-tablet.jpg');
  }
  .rest-h2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hmpg-2-4/restaurant-back-tablet.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-h2 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/hmpg-2-4/restaurant-back-tablet@2x.jpg');
    }
    .hotel-h2 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url('../img/hmpg-2-4/hotel-back-tablet@2x.jpg');
    }
  }
  .logo-h2 {
    font-size: 64px;
    line-height: 1.078;
  }

  .title-h2 {
    margin-top: 16px;
    font-size: 24px;
    line-height: 1.21;
  }

  .text-h2 {
    margin-top: 8px;
    font-size: 16px;
  }

  .textblock {
    max-width: 610px;
    margin-bottom: 40px;
    margin-right: 89px;
  }

  .textblock-hotel {
    max-width: 549px;
    margin-bottom: 40px;
    margin-left: 150px;
  }

  /* .textblock-hotel .logo-h2 {
    translate: 20px;
  } */

  .rest-png-image,
  .hotel-png-image {
    display: none;
  }
  .tablet-content-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .tablet-content-wrap-hotel {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .rest-button {
    margin-bottom: 16px;
    background-color: #000000;
  }

  .rest-button:last-child {
    margin-bottom: 0px;
  }

  .buttons-wrap {
    margin-bottom: 56px;
  }
  .swipe-left,
  .swipe-right {
    margin-bottom: 0px;
  }
  .slider-btn-wrap {
    margin: 0;
    margin-top: 24px;
  }
  .rest-slider-wrap {
    display: flex;

    padding: 0;
  }

  .tablet-content-wrap-hotel {
    gap: 32px;
  }

  .hotel-slider-wrap {
    display: flex;
    justify-content: end;
    width: 690px;
    padding: 0;
  }

  .hotel-slider-wrap {
    width: 910px;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .slider-btn-wrap-right {
    margin: 24px 0 0 0;
  }

  .tablet-content-wrap {
    gap: 29px;
  }

  .rest-slider-wrap,
  .hotel-slider-wrap {
    width: fit-content;

    margin: 0;
  }

  .big-slider-wrap {
    width: 930px;
    overflow: hidden;
  }

  .swiper-slide {
    flex-basis: content;
    height: 270px;
  }

  .swiper-slide img,
  .swiper-slide-active {
    max-width: fit-content;
  }

  .rest-slider-image.cropped {
    width: 270px;
    height: 270px;
    object-fit: cover;
  }

  .swiper-slide.cropped img {
    width: 270px;
    height: 270px;
  }
}

/*DESKTOP*/

@media screen and (min-width: 1280px) {
  .rest-h2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hmpg-2-4/restaurant-back-desktop.jpg');
    background-size: 1280px 620px;
  }

  .hotel-h2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hmpg-2-4/hotel-back-desktop.jpg');
    background-size: 1280px 620px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-h2 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/hmpg-2-4/restaurant-back-desktop@2x.jpg');
    }
    .hotel-h2 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url('../img/hmpg-2-4/hotel-back-desktop@2x.jpg');
    }
  }
  .small-slider-image.dynamic {
    width: 270px;
  }
  .tablet-content-wrap {

    gap: 32px;
    width: 1143px;
  }

  .tablet-content-wrap-hotel {
    gap: 32px;
  }

  .hotel-slider-wrap {
    width: 910px;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .slider-btn-wrap-right {
    margin-right: 0;
  }

  .textblock {
    margin-right: auto;
    margin-left: 253px;
  }

  .textblock-hotel {
    max-width: 595px;
    margin-right: 253px;
    margin-left: auto;
  }

  .rest-slider-wrap,
  .hotel-slider-wrap {
    width: fit-content;
    margin: 0;
  }

  .big-slider-wrap {
    width: 930px;
    overflow: hidden;
  }

  .swiper-slide {
    flex-basis: content;
    height: 270px;
  }

  .swiper-slide img,
  .swiper-slide-active {
    max-width: fit-content;
  }

  .hotel-slider-image img {
    object-fit: cover;
  }
  .swiper-slide.cropped img {
    width: 270px;
    height: 270px;
  }
}
