.container-rest {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.restaurant {
  padding-top: 16px;
  padding-bottom: 20px;
}
.rest-title {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
}
.rest-logo {
  font-family: 'Mimino-700';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
  margin-top: 12px;
}
.rest-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  width: 258px;
  margin-top: 12px;
}
.rest-img1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
}
.rest-img {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.img4 {
  width: 244px;
  height: 322px;
}
.img5 {
  width: 200px;
  height: 278px;
}
.img6 {
  width: 245px;
  height: 245px;
}
.img7 {
width: 61px;
height: 245px;
}
.rest-card2 {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}
.rest-card-text {
  margin-top: 70px;
  width: 163px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #c79002;
}
.rest-slider {
  display: flex;
  justify-content: flex-end;
  margin-right: -15px;
  margin-bottom: 20px;
  gap: 24px;
}

.rest-slider-btn {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  margin: 0 auto;
}
.rest-swipe-left,
.rest-swipe-right {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rest-swipe-left:hover,
.rest-swipe-right:hover,
.rest-swipe-left:focus,
.rest-swipe-right:focus {
  fill: #f3c653;
}

@media screen and (min-width: 1024px) {
  .container-rest {
    max-width: 960px;
  }
  .restaurant {
    padding-top: 120px;
    padding-bottom: 32px;
  }
  .rest-card1 {
    display: flex;
    justify-content: flex-start;
  }
  .rest-title {
    font-size: 32px;
    line-height: 1.156;
  }
  .rest-logo {
    font-size: 69px;
    line-height: 1.078;
    letter-spacing: 0.3em;
    margin-top: 4px;
  }
  .rest-text {
    font-size: 16px;
    line-height: 1.25;
    width: 439px;
    margin-top: 24px;
  }
  .rest-img1 {
    margin-top: -152px;
    margin-left: 26px;
  }
  .img4 {
    width: 400px;
    height: 524px;
  }
  .img5 {
    width: 350px;
    height: 500px;
  }

  .img6,
  .img7 {
  width: 194px;
  height: 194px;
  }
  .rest-card2 {
    margin-top: -16px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .rest-card-text {
    margin-top: 196px;
    margin-left: 48px;
    width: 312px;
    font-size: 16px;
  }
  .rest-slider {
    margin-top: -28px;
    margin-right: 0px;
    margin-bottom: 32px;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container-rest {
    max-width: 1140px;
  }
  .rest-text {
    width: 518px;
  }
  .rest-img1 {
    margin-left: 37px;
    margin-top: -153px;
  }
  .rest-card2 {
    margin-top: -65px;
  }
  .rest-card-text {
    margin-left: 32px;
  }
  .rest-slider {
    margin-top: -151px;
    margin-bottom: 40px;
  }
  .img4,
  .img5 {
    width: 460px;
    height: 574px;
  }

  .img6,
  .img7 {
  width: 254px;
  height: 254px;
  }
}
