/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header-footer.css');
@import url('./hero.css');
@import url('./homepage13.css');
@import url('./homepage24.css');
@import url('./homepage5.css');
@import url('./hotel.css');
@import url('./menu.css');
@import url('./modal.css');
@import url('./restaurant.css');
@import url('./room.css');

:root {
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 600;

  color: #000000;
  background-color: #fffdee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* текст в секціях не чорний */
  --color-main: #7a7a7a;
  /* текст в секціях та модалках*/
  --color-second: #c79002;
  /* текст в футері, на кнопках та в хедері */
  --color-acsent: #f3c653;
}

@font-face {
  font-family: Mimino-700;
  src: url(../fonts/FontsFree-Net-FilmP3.ttf);
}

.container {
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}
